<!DOCTYPE html>
<html>
  <head>
    <title>DplPostIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
    nav ul li {
      display: inline-block;
      font-size: 30px;
      padding-right: 15px;
    }

    nav ul li a {
      text-decoration: none;
    }
  </style>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
